.physicianDashboardContainer {
    background: #f4f4f4;
    padding: 3px;
    float: left;
}

.physicianDashboardHeader {
    float: left;
    width: 100%;
    padding-top: 10px;
}
.infoicon{
    font-size: 18px;
    color: blue;
    float: right;
    position: relative;
    top: 3px;
}
.popover-content {
    font-weight:normal;
}

button.ui-dialog-titlebar-close {
    visibility: hidden;
}

.dateRangeField {
    text-align: center;
    background: #f5f5f5;
    border: 1px solid #c1c1c1;
    border-radius: 2px;
    margin-left: 10px;
}

.pillCountLabel {
    background: #fff;
    border-radius: 2px;
    font-weight: bold;
}

.pillCountValue {
    color: #fff;
    border-radius: 2px;
    width: 25%;
    text-align: center;
    padding: 0px;
    text-decoration: underline;
    cursor: pointer;
}

.prescribedValue {
    background: #eca92f;
}

.enrolledValue {
    background: #ed6a24;
}

.activatedValue {
    background: #06648f;
}

.openAlertsValue {
    background: #59b550;
}

.physicianDash-ChartSection {
    float: left;
    border: 1px solid #cfc8c8;
    border-radius: 4px;
    margin: 10px;
}

.chartTitle {
    color: #04658f;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.chartArea {
    border: 2px solid #cec9c9;
    text-align: center;
    min-height: 400px;
    background: #fff;
    display: none;
}

.chartContainer {
    min-height: 400px;
    margin-top: 20px;
    padding: 0px 3px;
}

.loadingSection {
    text-align: center;
    float: left;
    min-height: 400px;
    width: 100%;
    background: #fff;
    color: blue;
    font-weight: bold;
    padding-top: 30%;
    font-size: 20px;
}

.patientListDialog {
    display: none;
}

.patientListContent {
    float: left;
    max-height: 350px;
    overflow-y: auto;
    background: #fff;
    width: 100%;
    text-align: center;
}

.noPatientsFound , .noDataFoundForChart {
    margin: 20px 0px;
    color: red;
    font-weight: bold;
}

.patientsListHeader {
    color: #fff;
    background: #2191c0;
    float: left;
}

.patientListRow {
    float: left;
    background: #fff;
    padding: 3px 0px;
    border-bottom: 1px solid rgba(33, 145, 192, 0.19);
}

